MEGAETH_RPC_URL=https://carrot.megaeth.com/rpc
MEGAETH_PRIVATE_KEY=
DEPLOY_CONFIRMATIONS=1
IDLE_GALACTICA_METADATA_URI=ipfs://idle-galactica/{id}.json
VITE_IDLE_GALACTICA_ADDRESS=
VITE_TRADE_RELAY_ADDRESS=
